
{% load static%}
{% block Homecontent %}



  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="static/images/hero-bg1.png" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
	<section class="slider_section ">
	
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for hp in HomepageInfos %}
		  {% if hp.id == 1 %} 
		  <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box"> 
					<title> {{hp.DescriptionHeading}} </title>
					<h1>
                      {{hp.DescriptionLine1}} <br>
                      {{hp.DescriptionLine2}} 
                    </h1>
                    <p>
                      {{hp.DescriptionLine3}}
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
				<div class="col-md-6">
                  <div class="img-box">
                    <img src="{{hp.DescriptionImage.url}}" alt="Card image cap">
                  </div>
                </div>
              </div>
            </div>
          </div>
		  {% else %}
		  <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <title> {{hp.DescriptionHeading}} </title>
					<h1>
                      {{hp.DescriptionLine1}} <br>
                      {{hp.DescriptionLine2}}
                    </h1>
                    <p>
                      {{hp.DescriptionLine3}}
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
				<div class="col-md-6">
                  <div class="img-box">
                    <img src="{{hp.DescriptionImage.url}}" alt="Card image cap">
                  </div>
                </div>
              </div>
            </div>
		  </div>
		  {% endif %}
		  {% endfor %}
		  </div>
        
        <ol class="carousel-indicators">
          {% for hp  in HomepageInfos %}
		  {% if hp.id == 1 %}
		  <li data-target="#customCarousel1" data-slide-to="{{hp.id}}" class="active"></li>				
		  {% else %}
		  <li data-target="#customCarousel1" data-slide-to="{{hp.id}}"</li>				
		  {% endif %}
		  {% endfor %}
        </ol>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  


{% endblock %}

