{% load static%}

{% block InfoTemplate %}
  <!-- info section -->

  {% for ci in CompanyInfos %}
	{% if ci.id == 1 %}
	  <section class="info_section layout_padding2">
		<div class="container">
		  <div class="row">
			<div class="col-md-6 col-lg-3 info_col">
			  <div class="info_contact">
				<h4>
				  Address
				</h4>
				<div class="contact_link_box">
				  <a href="{{ci.LocationMapLink}}" target="_blank" rel="noopener noreferrer">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<span>
					  Location
					</span>
				  </a>
				  <a href="">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<span>
					  Call <br>{{ci.AddressPhone1}} 
					  {% if ci.AddressPhone2 != "" %}
						/ {{ci.AddressPhone2}} 
					  {% endif %}
					  </br>
					</span>
				  </a>
				  <a href="">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<span>
					  {{ci.AddressEmailId}}
					</span>
				  </a>
				</div>
			  </div>
			  <div class="info_social">
				<a href="{{YoutubeLink}}" target="_blank" rel="noopener noreferrer">
				  <i class="fa fa-youtube-play" aria-hidden="true" style="font-size:36px;color:red"></i>
				</a>			  
				<a href="{{ci.FaceBookLink}}" target="_blank" rel="noopener noreferrer">
				  <i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="{{TwitterLink}}" target="_blank" rel="noopener noreferrer">
				  <i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="{{LinkedinLink}}" target="_blank" rel="noopener noreferrer">
				  <i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="{{InstagramLink}}" target="_blank" rel="noopener noreferrer">
				  <i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			  </div>
			</div>
			<div class="col-md-6 col-lg-3 info_col">
			  <div class="info_detail">
				<h4>
				  Info
				</h4>
				<p>
				  {{ci.SloganLine1}}  <br> {{ci.SloganLine2}} </br> <br> {{ci.SloganLine3}} </br>
				</p>
				<p>
				  Happy Shopping
				</p>			
			  </div>
			</div>
			<div class="col-md-6 col-lg-2 mx-auto info_col">
			  <div class="info_link_box">
				<h4>
				  Links
				</h4>
				<div class="info_links">
				  <a class="active" href="{% url 'home' %}">
					Home
				  </a>
				  <a class="" href="{% url 'about' %}">
					About
				  </a>
				  <a class="" href="{% url 'services' %}">
					Services
				  </a>
				  <a class="" href="{% url 'feedback' %}">
					Feedback
				  </a>			  
				</div>
			  </div>
			</div>
			<div class="col-md-6 col-lg-3 info_col ">
			  <h4>
				Subscribe
			  </h4>
			  <form action="#">
				<input type="text" placeholder="Enter email" />
				<button type="submit">
				  Subscribe
				</button>
			  </form>
			</div>
		  </div>
		</div>
	  </section>
{% endif %}
{% endfor %}
  <!-- end info section -->
 {% endblock %}