{% load static %}

<!DOCTYPE html>
<link href="https://fonts.cdnfonts.com/css/elemental-end-2" rel="stylesheet">
<html>
<head>
        {% include 'website/basic_template.html' %}
		

</head>

    <body>        
        
        {% include 'website/navbar.html' %}
		{% include 'website/register_template.html' %}
		{% include 'website/product_template.html' %}
		{% include 'website/info_template.html' %}
		{% include 'website/footer_template.html' %}
		{% include 'website/Jquery_template.html' %}
		
		


  </body>
</html>
